flows_vvv.json
[{"type":"tab","id":"6ebef747.914108","label":"Flow 1"},{"id":"f89c734d.07639","type":"nest-config","z":"6ebef747.914108","account":"My NEST"},{"id":"f096e488.0f6918","type":"twitter-credentials","z":"6ebef747.914108","screen_name":"@simonwheatley"},{"id":"9f3c1469.60c3e8","type":"nest request","z":"6ebef747.914108","account":"f89c734d.07639","devicetype":"thermostats","deviceid":"5aNNIQdr_8nV2-dlDejIM5GQXBNjHx2Z","streaming":"true","name":"Thermostat","x":390,"y":160,"wires":[["494293d2.b6bd6c"]]},{"id":"7e09147c.81f6ec","type":"debug","z":"6ebef747.914108","name":"","active":true,"console":"false","complete":"false","x":470,"y":340,"wires":[]},{"id":"b67a3356.4985d","type":"inject","z":"6ebef747.914108","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":200,"y":160,"wires":[[]]},{"id":"494293d2.b6bd6c","type":"function","z":"6ebef747.914108","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":240,"wires":[["7e09147c.81f6ec"]]}]